In [7]:
import pandas as pd
from IPython.display import display_html 

def plot_statsmodel_results(region_name):

    df1 = pd.read_csv(f'stats_results/mem_model_SME_{region_name}.csv', index_col=0)
    df2 = pd.read_csv(f'stats_results/OLS_model_SME_{region_name}.csv', index_col=0)

    df1_styler = df1.style.set_precision(3).set_table_attributes("style='display:inline'").set_caption('Mixed effect model')
    df2_styler = df2.style.set_precision(3).set_table_attributes("style='display:inline'").set_caption('OLS model')

    display_html(df1_styler._repr_html_()+df2_styler._repr_html_(), raw=True)

The following figures show the HFA activity from -700 to 2300 ms, where 0 ms is word onset.

The first figure is conditioned on a ripple occurring from 100 to 1700 ms. 
The second figure is conditioned on no ripple occurring from 100 to 1700 ms.

The first row is data from the CA1 region of hippocampus.

<p float="middle">
    <img src="figures/ripple_HFA_wr_HPC.png" />
    <img src="figures/no_ripple_HFA_wr_HPC.png" />
</p>

<p float="middle">
    <img src="figures/ripple_HFA_wr_AMY.png" />
    <img src="figures/no_ripple_HFA_wr_AMY.png" />
</p>

<p float="middle">
    <img src="figures/ripple_HFA_wr_nonHPC_MTL.png" />
    <img src="figures/no_ripple_HFA_wr_nonHPC_MTL.png" />
</p>

<p float="middle">
    <img src="figures/ripple_HFA_wr_OCC.png" />
    <img src="figures/no_ripple_HFA_wr_OCC.png" />
</p>





The code to generate these figures can be found in ripple_analysis.ipynb. In particular, I used the function  
**plot_SME_HFA** in the **ripple_analysis** notebook which is largely based on **SWRanalysis-HFA_Ebrahim.ipynb**  
except that it conditions the HFA plots on the occurrence of a ripple.

Our dependent variable is the z-scored HFA activity. We want to know whether the SME depends on whether or not there is a ripple. We have four groups of interest: 
1) Ripple + Word recalled
2) Ripple + Word not recalled
3) No ripple + Word recalled
4) No ripple + No word recalled 

It may seem correct to divide HFA activity into the four groups outlined above, and then do a t-test on groups 1 and 2, and then separately between groups 3 and 4. However, this is incorrect because what we are really interested in is the difference between groups 1 and 2 compared to the difference between groups 3 and 4. Because we are interested in the impact of a ripple on the SME, we need to assess the signficance of the interaction effect. I ran a mixed effects model to determine the interaction effect, the results are printed in the block below. I additionally determiend the intereaction effect using a standard OLS model, and the results are printed below the mixed effects model.

In [8]:
plot_statsmodel_results('HPC')

,coef,stderr,pval,tval
name,,,,
Intercept,-0.168,0.016,0.000,-10.261
ripple_exists,0.702,0.031,0.000,22.982
word_recalled,0.093,0.027,0.001,3.378
ripple_exists:word_recalled,-0.017,0.041,0.685,-0.406
,coef,stderr,pval,tval
name,,,,
Intercept,-0.158,0.007,0.000,-22.153
ripple_exists,0.716,0.012,0.000,57.314
word_recalled,0.098,0.012,0.000,8.243
ripple_exists:word_recalled,-0.021,0.020,0.289,-1.060

In [9]:
plot_statsmodel_results('AMY')

,coef,stderr,pval,tval
name,,,,
Intercept,-0.174,0.047,0.000,-3.726
ripple_exists,1.041,0.192,0.000,5.424
word_recalled,0.071,0.045,0.113,1.586
ripple_exists:word_recalled,-0.072,0.080,0.368,-0.900
,coef,stderr,pval,tval
name,,,,
Intercept,-0.131,0.020,0.000,-6.498
ripple_exists,0.791,0.038,0.000,20.881
word_recalled,-0.026,0.035,0.461,-0.737
ripple_exists:word_recalled,0.095,0.067,0.161,1.403

In [10]:
plot_statsmodel_results('nonHPC_MTL')

,coef,stderr,pval,tval
name,,,,
Intercept,-0.158,0.027,0.000,-5.754
ripple_exists,0.975,0.113,0.000,8.638
word_recalled,0.139,0.046,0.003,3.000
ripple_exists:word_recalled,-0.092,nan,nan,nan
,coef,stderr,pval,tval
name,,,,
Intercept,-0.134,0.015,0.000,-9.144
ripple_exists,0.711,0.029,0.000,24.843
word_recalled,0.225,0.026,0.000,8.768
ripple_exists:word_recalled,-0.013,0.048,0.779,-0.280

In [11]:
plot_statsmodel_results('OCC')

,coef,stderr,pval,tval
name,,,,
Intercept,-0.132,0.240,0.582,-0.551
ripple_exists,1.053,0.117,0.000,8.970
word_recalled,0.201,0.075,0.007,2.675
ripple_exists:word_recalled,-0.074,0.218,0.735,-0.338
,coef,stderr,pval,tval
name,,,,
Intercept,-0.047,0.029,0.107,-1.613
ripple_exists,1.251,0.093,0.000,13.509
word_recalled,0.358,0.063,0.000,5.674
ripple_exists:word_recalled,-0.132,0.160,0.408,-0.827