In [2]:
import pandas as pd
from IPython.display import display_html 

def plot_statsmodel_results(ripple_regions, region_name, ripple_str='100_1100'):

    df1 = pd.read_csv(f'stats_results/mem_model_SME_{ripple_regions}_{region_name}_{ripple_str}.csv', index_col=0)
    df2 = pd.read_csv(f'stats_results/OLS_model_SME_{ripple_regions}_{region_name}_{ripple_str}.csv', index_col=0)

    df1_styler = df1.style.set_precision(3).set_table_attributes("style='display:inline'").set_caption('Mixed effect model')
    df2_styler = df2.style.set_precision(3).set_table_attributes("style='display:inline'").set_caption('OLS model')

    display_html(df1_styler._repr_html_()+df2_styler._repr_html_(), raw=True)

The following figures show the HFA activity from -700 to 2300 ms, where 0 ms is word onset.

The first table shows ripples detected from CA1. 

<p float="middle">
    <img src="figures/Ripple ca1 HPC 100_1100.png" />
    <img src="figures/No ripple ca1 HPC 100_1100.png" />
</p>

<p float="middle">
    <img src="figures/Ripple ca1 AMY 100_1100.png" />
    <img src="figures/No ripple ca1 AMY 100_1100.png" />
</p>

<p float="middle">
    <img src="figures/Ripple ca1 nonHPC_MTL 100_1100.png" />
    <img src="figures/No ripple ca1 nonHPC_MTL 100_1100.png" />
</p>

<p float="middle">
    <img src="figures/Ripple ca1 OCC 100_1100.png" />
    <img src="figures/No ripple ca1 OCC 100_1100.png" />
</p>



The code to generate these figures can be found in ripple_analysis.ipynb. In particular, I used the function  
**plot_SME_HFA** in the **ripple_analysis** notebook which is largely based on **SWRanalysis-HFA_Ebrahim.ipynb**  
except that it conditions the HFA plots on the occurrence of a ripple.

Our dependent variable is the z-scored HFA activity. We want to know whether the SME depends on whether or not there is a ripple. We have four groups of interest: 
1) Ripple + Word recalled
2) Ripple + Word not recalled
3) No ripple + Word recalled
4) No ripple + No word recalled 

It may seem correct to divide HFA activity into the four groups outlined above, and then do a t-test on groups 1 and 2, and then separately between groups 3 and 4. However, this is incorrect because what we are really interested in is the difference between groups 1 and 2 compared to the difference between groups 3 and 4. Because we are interested in the impact of a ripple on the SME, we need to assess the signficance of the interaction effect. I ran a mixed effects model to determine the interaction effect, the results are printed in the block below. I additionally determined the intereaction effect using a standard OLS model, and the results are printed next to the mixed effects model.

In [3]:
plot_statsmodel_results('ca1', 'HPC')

,coef,stderr,pval,tval
name,,,,
Intercept,-0.017,0.026,0.513,-0.654
ripple_exists,0.449,0.014,0.000,31.370
word_recalled,0.095,0.030,0.001,3.206
ripple_exists:word_recalled,-0.006,0.104,0.950,-0.062
,coef,stderr,pval,tval
name,,,,
Intercept,0.037,0.007,0.000,5.398
ripple_exists,0.173,0.015,0.000,11.944
word_recalled,0.051,0.012,0.000,4.153
ripple_exists:word_recalled,0.080,0.021,0.000,3.743

In [4]:
plot_statsmodel_results('ca1', 'AMY')

,coef,stderr,pval,tval
name,,,,
Intercept,0.066,0.050,0.187,1.319
ripple_exists,-0.085,0.104,0.411,-0.822
word_recalled,0.070,0.060,0.242,1.170
ripple_exists:word_recalled,0.114,nan,nan,nan
,coef,stderr,pval,tval
name,,,,
Intercept,0.110,0.019,0.000,5.731
ripple_exists,-0.177,0.058,0.003,-3.024
word_recalled,0.020,0.036,0.581,0.551
ripple_exists:word_recalled,0.043,0.086,0.618,0.499

In [5]:
plot_statsmodel_results('ca1', 'nonHPC_MTL')

,coef,stderr,pval,tval
name,,,,
Intercept,0.009,0.029,0.760,0.305
ripple_exists,0.290,0.073,0.000,3.983
word_recalled,0.124,0.051,0.015,2.444
ripple_exists:word_recalled,0.059,nan,nan,nan
,coef,stderr,pval,tval
name,,,,
Intercept,0.025,0.014,0.079,1.759
ripple_exists,0.212,0.039,0.000,5.383
word_recalled,0.222,0.026,0.000,8.484
ripple_exists:word_recalled,0.019,0.057,0.733,0.341

In [6]:
plot_statsmodel_results('ca1', 'OCC')

,coef,stderr,pval,tval
name,,,,
Intercept,0.002,0.245,0.995,0.007
ripple_exists,0.977,337.102,0.998,0.003
word_recalled,0.192,0.074,0.010,2.589
ripple_exists:word_recalled,0.165,1429.907,1.000,0.000
,coef,stderr,pval,tval
name,,,,
Intercept,-0.015,0.030,0.631,-0.481
ripple_exists,0.744,0.086,0.000,8.655
word_recalled,0.393,0.065,0.000,6.084
ripple_exists:word_recalled,0.007,0.158,0.964,0.045