In [22]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
import pandas as pd

In [24]:
data1 = pd.read_csv('politeness_data.csv')
print(data1.shape)
data2 = sm.datasets.get_rdataset("dietox", "geepack").data
print(data2.shape)

(84, 5)
(861, 8)

In [25]:
data1.head()

  subject gender  scenario attitude  frequency
0      F1      F         1      pol      213.3
1      F1      F         1      inf      204.5
2      F1      F         2      pol      285.1
3      F1      F         2      inf      259.7
4      F1      F         3      pol      203.9

In [29]:
data2.head()

    Pig     Evit     Cu  Litter  Start    Weight       Feed  Time
0  4601  Evit000  Cu000       1   26.5  26.50000        NaN     1
1  4601  Evit000  Cu000       1   26.5  27.59999   5.200005     2
2  4601  Evit000  Cu000       1   26.5  36.50000  17.600000     3
3  4601  Evit000  Cu000       1   26.5  40.29999  28.500000     4
4  4601  Evit000  Cu000       1   26.5  49.09998  45.200001     5

In [32]:
# Linearly relate weight to time 
model = smf.ols("Weight~Time", data2)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Weight   R-squared:                       0.918
Model:                            OLS   Adj. R-squared:                  0.918
Method:                 Least Squares   F-statistic:                     9584.
Date:                Wed, 03 May 2023   Prob (F-statistic):               0.00
Time:                        19:36:22   Log-Likelihood:                -2916.6
No. Observations:                 861   AIC:                             5837.
Df Residuals:                     859   BIC:                             5847.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     15.7053      0.521     30.161      0.000      14.683      16.727
Time           6.9467      0.071     97.900      0.000       6.807       7.086
==============================================================================
Omnibus:                       97.925   Durbin-Watson:                   0.255
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              172.236
Skew:                          -0.734   Prob(JB):                     3.98e-38
Kurtosis:                       4.628   Cond. No.                         15.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [34]:
# Add a random intercept for each pig
md = smf.mixedlm("Weight ~ Time", data2, groups=data2["Pig"])
mdf = md.fit()
print(mdf.summary())

         Mixed Linear Model Regression Results
========================================================
Model:            MixedLM Dependent Variable: Weight
No. Observations: 861     Method:             REML
No. Groups:       72      Scale:              11.3669
Min. group size:  11      Likelihood:         -2404.7753
Max. group size:  12      Converged:          Yes
Mean group size:  12.0
--------------------------------------------------------
             Coef.  Std.Err.    z    P>|z| [0.025 0.975]
--------------------------------------------------------
Intercept    15.724    0.788  19.952 0.000 14.179 17.268
Time          6.943    0.033 207.939 0.000  6.877  7.008
Group Var    40.394    2.149
========================================================

In [36]:
# Add a random intercept for each pig
md = smf.mixedlm("Weight ~ Time", data2, groups=data2["Pig"], re_formula='~Time')
mdf = md.fit(method=["lbfgs"])
print(mdf.summary())

           Mixed Linear Model Regression Results
===========================================================
Model:             MixedLM  Dependent Variable:  Weight
No. Observations:  861      Method:              REML
No. Groups:        72       Scale:               6.0372
Min. group size:   11       Likelihood:          -2217.0475
Max. group size:   12       Converged:           Yes
Mean group size:   12.0
-----------------------------------------------------------
                 Coef.  Std.Err.   z    P>|z| [0.025 0.975]
-----------------------------------------------------------
Intercept        15.739    0.550 28.603 0.000 14.660 16.817
Time              6.939    0.080 86.925 0.000  6.783  7.095
Group Var        19.503    1.561
Group x Time Cov  0.294    0.153
Time Var          0.416    0.033
===========================================================